{{!-- -----------------SECTION 1: HOME INITIAL PAGE------------------------------------------- --}}

<div id="home-section1-container" class="first-section">
  <div class="nav-top-line">
    <div class="white-square"></div>
    <div class="nav-top-menu">
      <div class="nav-top-menu-left">
        <div><img src="images/vendedor-bitmap 1.png"><a class="text13-ProximaSemi text13-ProximaSemi-mdsm text16-ProximaSemi-sm color-dark-3 ls-22 ls-normal-mdsm lh-125" href="#">MARKETPLACE</a></div>
        <div><img src="images/vendedor-bitmap 2.png"><a class="text13-ProximaSemi text13-ProximaSemi-mdsm text16-ProximaSemi-sm color-dark-3 ls-22 ls-normal-mdsm lh-125" href="#">CONTACTO</a></div>
        <div><img src="images/vendedor-bitmap 3.png"><a class="text13-ProximaSemi text13-ProximaSemi-mdsm text16-ProximaSemi-sm color-dark-3 ls-22 ls-normal-mdsm lh-125" href="#">ACCESO BACKEND</a></div>
      </div>
      <div class="nav-top-menu-right">
        <div class="flags">
          <a href="index.html"><img name="spain-flag" src="images/spain.png"></a>
          <a href="indexeng.html"><img name="uk-flag" src="images/united-kingdom.png"></a>
        </div>
        <div class="vendedor-phone-number">
          <img src="images/vendedor-phone.png">
          <p class="text18-ProximaLight text14-ProximaLight-md color-white fw-normal ls-normal">931 222 104</p>
        </div>
        <div class="logos-facebook-twitter-google">
          <a href="https://www.facebook.com/privalorewell"><img src="images/facebook-xl.png"></a>
          <a href="https://twitter.com/privalorewell"><img src="images/twitter-xxl.png"></a>
          <a href="#"><img src="images/google-plus-xxl.png"></a>
        </div>
      </div>	
    </div>
	</div>
	<div class="clearfix"></div>
    
    <div class="col-sm-12 col-md-12 col-lg-12 my-auto">
      <h4 id="sec1-text1" class="text-Montserrat-w100 text-center">EN UN PISO A REFORMAR</h4>
      <h2 id="sec1-text2" class="text-Montserrat-w700 text-center">HAY ALGUIEN QUE SE LLEVA<br> TODO EL BENEFICIO</h2>
      <h2 id="sec1-text3" class="text-Montserrat-w100 text-center">PERO NO ERES TU</h2>
      
    </div>
  </div> 
  <div id="footer-sec1-home-page" class="row" >
    <div class="col-12 text-center align-self-center">
      <a  href="#search-form"><i class="fas fa-chevron-down" ></i></a>
    </div>
  </div>  
</div>