<html lang="en">

<head>

  {{!--
  <!-- Required meta tags -->--}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{!--
  <!-- Normalize CSS -->--}}
  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css"> {{!--
  <!-- Bootstrap CSS --> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> 
  {{!-- -- Mapbox ----- --}}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css'>


  {{!--<!-- main CSS -->--}}
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,700" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Aclonica|Alegreya+Sans+SC|Berkshire+Swash|Meddon|Rochester|Rubik+Mono+One" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"> {{!--
  <title>Banc de Temps</title> --}}

  <title>{{title}}</title>

</head>

<body>
 
  {{{body}}} 
  
  <footer class="row">
    <div class="col-sm-4">
      {{!-- <img src="images/ironhack.png" alt="" id="logo"> --}}
    </div>
    <div class="col-sm-8 footer-names">
      Albert Farré<br>
     
    </div>
  </footer>
  {{!--
  <!-- Optional JavaScript -->--}} {{!--
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/map.js"></script>  
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>