@import url('https://fonts.googleapis.com/css?family=Roboto:500,400|Montserrat:300,200,500,600,700,400|Ubuntu:500,300,700');

html {
  /* font-size: 1rem; */
  /* line-height: 1.25; */
  overflow-x: hidden; /* amb aixo desactivem el scroll horitzontal*/
  width: 100%;
  height: 100%;
  /* font-size: 62.5%; tots els browsers tenen per defecte un font-size de 16px. Posant 62.5%, ho estem passant a 10px, i per tant els rem units seran multiples de 10 */
  
  /* margin: 0;
  font-family: "Montserrat-Light","Montserrat-Medium";
  letter-spacing: 2.2px; */
  background-color: white;
}

/* Definim aquestes media-queries, per aplicar diferents tamanys de lletra */
@media (min-width: 0px) {
  html { font-size: 14px; } 
}

@media (min-width: 576px) {
  /* font-size: 160%; */
  html { font-size: 16px; }
}
@media (min-width: 768px) {
  /* font-size: 180%; */
  html { font-size: 18px; }
}
@media (min-width: 992px) {
  /* font-size: 200%; */
  html { font-size: 20px; }
}
@media (min-width: 1200px) {
  /* font-size: 240%; */
  html { font-size: 24px; }
  
}



/* Estem posant el tamany de referencia en funció del media query */

h1 {font-size: 1.6rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.0rem;}
h5 {font-size: 0.8rem;}
h6 {font-size: 0.6rem;}


/* -- -----------------SECTION 1: HOME INITIAL PAGE------------------------------------------- -- */

.first-section {
  display: relative;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/home-real-willian-justen-de-vasconcellos-531167-unsplash 1@2x.jpg');  
    /* background-image: url('../images/home-real-willian-justen-de-vasconcellos-531167-unsplash 1@2x.jpg') ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  min-height:300px;  /*indiquem la mínima alçada. Si l'usuari redueix el viewport, es reduirà ffins a un mínim de 300px*/
  height: 100%;
  width: 100%;
  border: 2px solid violet;

  }

  #sec1-text3 {
    padding: 60px 0 0 0;
  }

  #icon-menu {
      color: white;
  }

  .text-Montserrat-w700 {
    font-family: 'Montserrat', Arial,Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 4.0px;
    color: white;
  }

  .text-Montserrat-w100 {
    font-family: 'Montserrat', Arial,Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.0rem;
    letter-spacing: 4.0px;
    color: white;
  }

/*Situem la imatge del logo de Privalore, la posicionem a dalt a l'esquerra*/

.logo-privalore {
  position: absolute;
  top: 50px;
  left:40px;
}

.nav-top-line {
  display: flex;
  width: 100%;
  height: 65px;
  margin: 0px;
}

.white-square {
  /*position: relative;*/
  width: 21%;
  height: 100px;
  background-color: white;
  
}

/* Es el container de dalt de tot, que a dins l'hem dividit en dos divs: menu i logos de facebook,twitter,google*/
.nav-top-menu {
  /*float: right;*/
  display:flex;
  flex-flow: row nowrap;  /* indiquem com hem d'alinear els elements child, si en files o columnes. Es una shorthand*/
  justify-content: space-between; /*alinea els child elements al marge esquerra*/
  align-items: center;  /* Alinea els child elements en vertical*/
  height: 65px;
  background-color: rgba(215,215,215,1);
  width: 79%;  /* Agafa l'amplada del parent, que es el 80% del viewport*/
  padding: 0px 0px;
  margin: 0 0 0 0;
  /* border: 2px solid blue; */
  
}

.nav-top-menu-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;  /* Alinea els child elements en vertical*/
  margin: 0 0 0 10px;
  /* border: 2px solid red; */
}

.nav-top-menu-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;  /* Alinea els child elements en vertical*/
  margin: 0 0 0 0;
  /* border: 2px solid red; */
}


.nav-top-menu div {
  
  /* width: 200px; */
  list-style-type: none;
  /* font-size: 1.3rem; */
  /* margin: 2px 10px; */
  /* height: 60px; */
  /*width: calc(100%/6);*/
  /* border: 2px solid red; */
  
}

.nav-top-menu img {
   
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-color: rgba(255,255,255,0);
  
  /* border: 2px solid; */

}

.nav-top-menu a {
  /* font-family: "ProximaNova-Semibold", Helvetica, Arial, serif; */
  /* font-weight: 0; */
  /* line-height: 1.25; */
  text-decoration: none;
  padding: 0px 10px;
  color:rgba(94,94,94,1.0);

}

/* Aqui coloquem les banderes dels paisos */

.flags {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; 
  /* width: 40px; */
  height: 65px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
   /* border: 2px solid green; */

}

.flags img {
  width: 40px;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* border: 2px solid orange; */

}

.vendedor-phone-number {
  /* font-family: "ProximaNova-Light", Helvetica, Arial, serif; */
  /* font-size: 1.8rem; */
  color: white;
  background-color: rgba(179,179,179,1.0);
  border-radius: 18px;
  border-color: white;
  border-width: 5px;
  padding: 10px 10px;
  margin: 0 5px 0 0;
  /* border: 2px solid orange; */

}


.vendedor-phone-number img {
  vertical-align: middle;
  width: 16px;
  height: 26px;
  /* float: left; */
  
}

.vendedor-phone-number a {
  color: white;
  /* font-weight: 100; */
  /* font-size: 1.8rem; */
  text-decoration: none;
  padding: 0px 0px 0px 8px;
}



.logos-facebook-twitter-google {
  display: inline-block;
  padding: 0px 0px;
  margin: 0 5px 0 0;

}

.logos-facebook-twitter-google img {
  padding: 0px 0px;
  margin: 0 10px 0 0;

}

.logos-facebook-twitter-google a {
  padding: 0px 0px;
  margin: 0 0 0 0;
}

/*Aqui especifiquem el container principal amb el background image*/

.header-container {
	display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* background-image: url('../images/home-real-willian-justen-de-vasconcellos-531167-unsplash 1@2x.jpg'); */
  /* background:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/home-real-bitmap.png'); */
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/home-real-willian-justen-de-vasconcellos-531167-unsplash 1@2x.jpg');

  
  background-position: center;
  background-repeat: no-repeat;
  /* background-size:contain; */
  /* background-attachment: fixed; */
  background-size: contain;
  color: rgba(255,255,255,0.0);
  /*per saber per quin valor hem de multiplicar per mantenir l'aspect/ratio de la imatge, mirem la resolució de la imatge original en Inspeccionar de google*/
  /*Fa el tamany de la imatge el tamany  del viewport. I mante el ratio de la imatge */
  height: calc(0.66*100vw); 
  width: 100%;
  margin: 0;
  padding: 0;
  /* border: 2px solid violet; */
}

.header-container-menu {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
} 

/* Centrem el text en el contenidor de sota.*/

.header-text-centered {
  text-align: center;
  align-self: center;
  
  margin: 200px 0 0 0; 
  /* margin-top: calc(((0.66*100vw)-147)/5); */
  /* border: 2px solid yellow; */
} 


/* Es el container que té el quadrat blanc*/
.white-square-2 {
  /*position: relative;*/
  width: 21%;
  height: 87px;
  background-color: white;
  margin: 0px 0px;
  padding: 0px;
  
}

.nav-menu-container {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 79%;
  height: 87px;
  background-color:#6D86d7;opacity:0.76;
  /* border: 2px solid red; */

}

.nav-menu-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 10;
  /* border: 2px solid green; */
}

.nav-menu-items a {
  font-family: "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 10;
  text-decoration: none;
  padding: 0 40px; 
   /* border: 2px solid green;  */


}

.menu-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
}

.menu-right p {
  font-family: "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size: 1.2rem;
  color: white;
  margin: 10px 20px 10px 0px;

}

.menu-right img {
  text-decoration: none;
  width: 50px;
  height: 30px;
  margin-right: 20px;
}





  #footer-sec1-home-page {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }

  #footer-sec1-home-page i {
    text-decoration: none;
    color: white;
    /* width: 50px;
    height: 30px; */
    /* margin-right: 20px; */
  }







  .menu-text {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  padding: 20px 0 20px 20px;
  margin: 20px 0 20px 20px;
}


/* ------------------------- CALCULATOR VIEW CSS--------------------------------------------- */

#container-land-page-calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  /* border: 2px solid red; */
}

#logo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  min-height: 80px;
}

#logo-container div[name|="left"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: white;
  
  width: 20%;
  min-width: 150px;
  height: 100%; 
  /* border: 2px solid blue; */
}

#logo-container div[name|="right"] {
  background-color:#6D86d7;opacity:0.76;
  width: 80%;
  height: 100%; 
}

#logo-container img {
  padding: 20px;
  width: 100%;
  height: auto;
  /* display:block; */
  /* margin:auto; */
  
  /* border: 2px solid blue; */
}

#search-form-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  font-family: 'Montserrat', Arial,Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  padding: 0 0 0 30px;
  /* border: 2px solid green; */
}

#search-form-address {
  width: 30%;
  min-width: 200px;
}

#search-form-address input {
  width: 80%;
  height: 0.8rem;
  margin: 2px 0;
  font-size: 0.7rem;
}

#search-form-address label {
  margin: 0;
}

#titulo-formulario {
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0 0 0 5px;
}

#radio-button-menu {
  /* width: 100%; */
  /* border: 2px solid green; */
}

#radio-button-menu legend {
  /* width: 100%; */
  font-weight: 300;
  font-size: 0.8rem;
  /* border: 2px solid green; */
}

#radio-button-menu input {
  /* width: 100%; */
  border: 2px solid blue;
  margin: 0px;
  padding: 0px;
}

#search-form-address button {
  font-size: 0.7rem;
  border-radius: 8px;
}

#map {
  margin: 50px 0 50px 0;
  width: 70%;
  min-width: 600px;
  max-width: 1000px;
  height: 100%;
  min-height: 300px;
}

.popup {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 0.6rem;
  font-family: 'Montserrat', Arial,Helvetica, sans-serif;
  color: green;
  

}



